{% extends 'toba/base.html' %}
{% load staticfiles %}

{% block title %}{{ place.name }}{% endblock %}


{% block head %}
    <style>
        #map {
            height: 100%;
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5W0x1aKzeLeeX2KeFeDk09WnJ53xFQQg"></script>
    <link rel="stylesheet" href="print.css" media="print">
{% endblock %}

{% block content %}
    <!-- map -->
    <div id="map"></div>

    <div>
        <ul>
            <li>place_id: {{ place.place_id }}</li>
            <li>lat: {{ place.lat }}</li>
            <li>lng: {{ place.lng }}</li>
            <li>name: {{ place.name }}</li>
            <li>photo: {{ place.photo }}</li>
            <li>vicinity: {{ place.vicinity }}</li>
            <li>rating: {{ place.rating }}</li>
            {% for i_type in place_types %}
                <li>type: {{ i_type }}</li>
            {% endfor %}
        </ul>
        <button onclick="printAnyMaps()">印刷</button>
    </div>



    <script>
        let map;
        let toba_lat = {{ toba.lat }};
        let toba_lng = {{ toba.lng }};
        let place_lat = {{ place.lat }};
        let place_lng = {{ place.lng }};

        function initialize() {
            let options = {
                zoom: 16,
                center: new google.maps.LatLng(toba_lat, toba_lng),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById('map'), options);

            let rendererOptions = {
                map: map, // 描画先の地図
                draggable: true, // ドラッグ可
                preserveViewport: true // centerの座標、ズームレベルで表示
            };
            let directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
            let directionsService = new google.maps.DirectionsService();
            directionsDisplay.setMap(map);
            let request = {
                origin: new google.maps.LatLng(toba_lat, toba_lng), // スタート地点
                destination: new google.maps.LatLng(place_lat, place_lng), // ゴール地点
                travelMode: google.maps.DirectionsTravelMode.WALKING, // 移動手段
            };
            directionsService.route(request, function (response, status) {
                if (status === google.maps.DirectionsStatus.OK) {
                    new google.maps.DirectionsRenderer({
                        map: map,
                        directions: response,
                        suppressMarkers: true // デフォルトのマーカーを削除
                    });
                    let leg = response.routes[0].legs[0];
                    makeMarker(leg.end_location, markers.goalMarker, map);
                    setTimeout(function () {
                        map.setZoom(16); // ルート表示後にズーム率を変更
                    });
                }
            })
        }

        initialize()
    </script>

    <!-- 印刷関数 -->
    <script>
        function printAnyMaps() {
            const $body = $('body');
            const $mapContainer = $('#map');
            const $mapContainerParent = $mapContainer.parent();
            const $printContainer = $('<div style="position:relative;">');

            $printContainer
                .height($mapContainer.height())
                .append($mapContainer)
                .prependTo($body);

            const $content = $body
                .children()
                .not($printContainer)
                .not('script')
                .detach();

            /**
             * Needed for those who use Bootstrap 3.x, because some of
             * its `@media print` styles ain't play nicely when printing.
             */
            const $patchedStyle = $('<style media="print">')
                .text(`
      img { max-width: none !important; }
      a[href]:after { content: ""; }
    `)
                .appendTo('head');

            window.print();

            $body.prepend($content);
            $mapContainerParent.prepend($mapContainer);

            $printContainer.remove();
            $patchedStyle.remove();
        }
    </script>
{% endblock %}