{% extends 'toba/base.html' %}
{% load staticfiles %}

{% block title %}鳥羽観光案内トップ{% endblock %}

{% block content %}

    {% for place in places %}
        <ul>
            <li><a href={% url "toba:detail" place_id=place.place_id %}>{{ place.name }}</a></li>
        </ul>
    {% endfor %}

{% endblock %}